html, body {height: 100%; margin: 0;}

body {background: #fdd1d16e; overflow: auto; display: flex; justify-content: center; align-items: flex-start;
    font-family: Arial, sans-serif; padding: 30px;}

/* FONDO */
.full-image {position: fixed; inset: 0; width: 100vw; height: 100vh; object-fit: cover; object-position: center;
    filter: brightness(40%); z-index: -1;}

/* CONTENEDOR PRINCIPAL */
.menu-box {background: rgba(255, 255, 255, 0.15); padding: 30px 50px; border-radius: 20px;
    backdrop-filter: blur(8px); box-shadow: 0 8px 25px rgba(0,0,0,0.3); text-align: center;
    width: 90%; max-width: 1000px; animation: fadeIn 1s ease; color: #fff; margin-bottom: 40px;}

.menu-box h2 {margin: 0 0 20px 0; font-size: 32px; color: #ffffff; 
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);}

/* BOTONES */
.btn {display: inline-block; background: #9e802dff; color: #000; font-weight: bold; padding: 10px 20px;
    border: none; border-radius: 10px; cursor: pointer; font-size: 16px; margin: 5px; 
    transition: background 0.3s ease;}

.btn:hover {background: #e2c55a;}

.btn-menu {position: absolute; top: 15px; left: 15px; background: #9e802dff; color: #000;
    padding: 8px 15px; border-radius: 8px;}

.btn-list {display: flex; flex-direction: column; gap: 12px; margin-top: 12px;}

/*ANIMACION*/
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}