html, body {height: 100%; margin: 0;}

body {background: #fdd1d16e; overflow: auto; display: flex; justify-content: center; align-items: flex-start;
    font-family: Arial, sans-serif; padding: 30px;}

/* FONDO */
.full-image {position: fixed; inset: 0; width: 100vw; height: 100vh; object-fit: cover; object-position: center;
    filter: brightness(40%); z-index: -1;}

/* CONTENEDOR PRINCIPAL */
.menu-box {background: rgba(255, 255, 255, 0.15); padding: 30px 50px; border-radius: 20px;
    backdrop-filter: blur(8px); box-shadow: 0 8px 25px rgba(0,0,0,0.3); text-align: center;
    width: 90%; max-width: 1000px; animation: fadeIn 1s ease; color: #fff; margin-bottom: 40px;}

.menu-box h2 {margin: 0 0 20px 0; font-size: 32px; color: #ffffff; 
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);}

/* BOTONES */
.btn {display: inline-block; background: #9e802dff; color: #000; font-weight: bold; padding: 10px 20px;
    border: none; border-radius: 10px; cursor: pointer; font-size: 16px; margin: 5px; 
    transition: background 0.3s ease;}

.btn:hover {background: #e2c55a;}

.btn-menu {position: absolute; top: 15px; left: 15px; background: #9e802dff; color: #000;
    padding: 8px 15px; border-radius: 8px;}

/* TABLA */
table {width: 100%; border-collapse: collapse; margin-top: 20px;}

th, td {padding: 10px; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.3);
    font-size: 16px;}

th {background: rgba(255, 255, 255, 0.2); font-size: 18px;}

tr:hover {background: rgba(255, 255, 255, 0.1);}

/*BAJO STOCK*/
.low-stock {background-color: rgba(255, 80, 80, 0.2); color: #fff; font-weight: bold;
  transition: background 0.3s ease;}

.low-stock:hover {background-color: rgba(255, 80, 80, 0.35);}

.modal {display: none; position: fixed; inset: 0; background: rgba(0,0,0,0.6); justify-content: center;
    align-items: center; z-index: 10;}

.modal-content { background: #fff; padding: 20px; border-radius: 15px; width: 90%; max-width: 400px;
    text-align: left; color: #000;}

.modal-content h3 {margin-top: 0; text-align: center;}

.modal-content label {display: block; margin: 10px 0 5px;}

.modal-content input,
.modal-content select {width: 100%; padding: 8px; margin-bottom: 10px; border-radius: 8px;
    border: 1px solid #ccc;}

.modal-content button {background: #c09e3fff; color: #000; border: none; padding: 10px;
    border-radius: 10px; cursor: pointer; width: 100%; font-weight: bold;}

.close-btn {background: #ff5c5c; margin-top: 10px;}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}
