/* FONDO */
.full-image {position: fixed; inset: 0; width: 100vw; height: 100vh; object-fit: cover; object-position: center;
    filter: brightness(40%); z-index: -1;}

/* CONTENEDOR PRINCIPAL */
.contenedor-principal {
  display: flex;
  gap: 20px;
  margin: 40px;
  justify-content: center;
  align-items: flex-start;
}

/* COLUMNA IZQUIERDA: PEDIDOS */
.col-pedidos {
  flex: 2;
  max-width: 700px;
  background-color: rgba(223, 221, 221, 0.644);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 80vh;
  overflow-y: auto; animation: fadeIn 1s ease;
  backdrop-filter: blur(8px);
}

.col-pedidos h2 {
  text-align: center;
  margin-bottom: 20px;
}

.col-pedidos ul {
  list-style: none;
  padding: 0;
}

.col-pedidos li {
  padding: 8px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* COLUMNA DERECHA: PRODUCTOS */
.col-productos {
  background-color: rgba(223, 221, 221, 0.644);
  padding: 20px;
  border-radius: 12px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow-x: auto; /* Para tablas largas */
  animation: fadeIn 1s ease;
  backdrop-filter: blur(8px);
}


.col-productos h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* TABLA DE PRODUCTOS */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

th {
  background-color: rgba(0,0,0,0.1);
}

.low-stock {
  background-color: rgba(255,0,0,0.1);
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}